-r requirements.txt

alabaster==0.7.12
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
certifi==2018.11.29
chardet==3.0.4
coverage==4.5.2
coveralls==1.5.1
docopt==0.6.2
docutils==0.14
filelock==3.0.10
freezegun==0.3.11
idna==2.8
imagesize==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
more-itertools==5.0.0
packaging==18.0
pluggy==0.8.0
py==1.7.0
Pygments==2.3.1
pyparsing==2.3.0
pytest==4.0.2
pytest-cov==2.6.0
python-dateutil==2.7.5
pytz==2018.7
requests==2.21.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.3
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
toml==0.10.0
tox==3.6.1
urllib3==1.24.1
virtualenv==16.1.0
